.container-wrapper {
  overflow: hidden;
  height: 75vh;
  width: 75vw;
  border: 2px solid black;
  cursor: pointer;
}
.container-wrapper-canvas {
  overflow: hidden;
  border: 2px solid black;
  cursor: pointer;
}
